.academic {
    background: #141414;
    color: #fff;
}

.academic_container {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    position: relative;
}

.academic_container_title {
    color: #000;
    font-size: 8rem;
    line-height: 1;
    text-transform: uppercase;
    word-break: break-all;
    max-width: 5ch;
}

.academic_container_text {
    font-size: 1.5rem;
    line-height: 1.33;
    max-width: 40ch;
    margin-bottom: 60px;
    color: #a3a3a3;
}

.academic_container_text strong {
    color: #fff;
}

.academic_container_list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 60px;
}

.academic_container_list_item {
    background: #000;
    padding: 20px;
    border-radius: 4px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.academic_container_list_item_info {
    font-size: 0.875rem;
    text-transform: uppercase;
    color: #a3a3a3;
    margin-bottom: 10px;
}

.academic_container_list_item_subtitle {
    flex:1;
    font-size: 1.125rem;
    line-height: 1.4;
    margin-bottom: 40px;
    position: relative;
}

.academic_container_list_item_subtitle::before {
    content: "";
    display: block;
    width: 4px;
    height: 20px;
    background: linear-gradient(#b629f8, #800add);
    position: absolute;
    left: -24px;
}

.academic_container_list_item_local {
    font-size: 1.125rem;
    color: #a3a3a3;
}

.academic_container_extra_topic {
    margin-bottom: 60px;
}

.academic_container_extra h3 {
    font-size: 0.875rem;
    line-height: 1.4;
    color: #8f8f8f;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
}

.academic_container_extra h3::before {
    display: block;
    content:"";
    width: 24px;
    height: 24px;
    position: absolute;
    left: -36px;
    top: -4px;
}

.academic_container_extra_topic h3::before {
    background: url("../image/menu_book_black.svg") no-repeat center center;
}

.academic_container_extra_lang h3 {
    font-size: 0.875rem;
    line-height: 1.4;
    color: #8f8f8f;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
}

.academic_container_extra_lang h3::before {
    display: block;
    content:"";
    width: 24px;
    height: 24px;
    position: absolute;
    left: -36px;
    top: -4px;
}

.academic_container_extra_lang h3::before {
    background: url("../image/translate_black.svg") no-repeat center center;
}

.academic_container_extra li {
    font-size: 1.125rem;
    line-height: 1.1;
    margin-bottom: 20px;
}

.academic_container_extra span {
    color:#8f8f8f;
}

.academic_container_extra_topic li {
    display: flex;
    justify-content: space-between;
}

.academic_container::after {
    content: "";
    display: block;
    background: url("../image/deco.svg") no-repeat center;
    position: absolute;
    width: 130px;
    height: 100px;
    bottom: -50px;
    left: 20px;
}

@media (max-width: 800px) {
    .academic_container {
        grid-template-columns: 1fr;
        padding: 60px 20px;
        gap: 40px;
    }
    .academic_container_title {
        color: #fff;
        max-width: initial;
        font-size: 3rem;
        text-transform: capitalize;
    }
    .academic_container_text {
        font-size: 1.25rem;
    }
    .academic_container_extra h3::before {
        position: initial;
        margin-bottom: 10px;
    }
}

@media (max-width: 500px) {
    .academic_container::after {
        display: none;
    }
    .academic_container_list {
        display: grid;
        grid-template-columns: 1fr;
    }
}